body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
header{
    top: 0;
    position: fixed;
    height: 400px;
    width: 100%;
    z-index: 20;
    background-color: #fff;
}
img{
    width: 25%;
    height: 30%;
    margin: 10px 20px;
}
.left1{
    margin:  30% 15px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
   
  
}
   
.bouton{
    background-color: #3256a5;
    color: #fff;
    width: 90%;
}
.list li{
    margin-left: 50%;
    padding: 5px;}
   
.barre{
    width: 100%;
    height: 100%;
    margin: 40% 40px;
   
}



.left1{
    float: left;
    width: 25%;
}
.left1 h5{
    text-align: center;
    font-size: 20px;
    color: #3256a5;
}

.right1{
    margin: 35% 6%;
    float: right;
    width: 25%;
}
.left{
    float: left;
    width: 30%;
    margin: 50px;
}
.right, button{
    float: right;
    width: 40%;
    font-size: 15px;
    padding: 17px;
    margin: 40px;
    border-radius: 20px;
}
/*.left1{
    float: left;
    width: 30%;
}
.right1{
    float: right;
    width: 70%;
   
}

.left1{
    margin: 35% 15px;
}*/
button{
    border: 2px solid #3256a5;
    color: #3256a5;
}
.left h4{
    letter-spacing: 2px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
}
.left h2{
    letter-spacing: 1px;
    font-size: 25px;
    color: #333;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-right: 40px;
}
nav ul {
    margin: 0px;
    padding: 0px;
}
nav li {
    list-style-type: none;
    float: left;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
}
nav a:hover{
    cursor: pointer;
    color: #3256a5;
}